# WEB SCRAPING – ASSIGNMENT 2

# Q1. python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

We will Scrap data from https://www.naukri.com/ website for "Data Analyst" job role in Bangalore location:
We scrap 4 field for "Data Analyst" job as mention below:
a)job-title
b)job-location
c)company_name
d)experience_required

In [34]:
#First install selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\dell\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [35]:
#Import all required liabraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#First connect to web driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [ ]:
url='https://www.naukri.com/'
driver.get(url)

In [51]:
#finding web element for search bar using id
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [121]:
#write on search bar
search_job.send_keys("Data Analyst")

WebDriverException: Message: chrome not reachable
  (Session info: chrome=97.0.4692.71)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F5FDC3+2555331]
	Ordinal0 [0x00EF77F1+2127857]
	Ordinal0 [0x00DF2CD0+1060048]
	Ordinal0 [0x00DE7BE2+1014754]
	Ordinal0 [0x00DE83E8+1016808]
	Ordinal0 [0x00DE9C02+1022978]
	Ordinal0 [0x00DE3AB9+998073]
	Ordinal0 [0x00DF4040+1065024]
	Ordinal0 [0x00E46DC2+1404354]
	Ordinal0 [0x00E37976+1341814]
	Ordinal0 [0x00E136B6+1193654]
	Ordinal0 [0x00E14546+1197382]
	GetHandleVerifier [0x010F9622+1619522]
	GetHandleVerifier [0x011A882C+2336844]
	GetHandleVerifier [0x00FF23E1+541697]
	GetHandleVerifier [0x00FF1443+537699]
	Ordinal0 [0x00EFD18E+2150798]
	Ordinal0 [0x00F01518+2168088]
	Ordinal0 [0x00F01660+2168416]
	Ordinal0 [0x00F0B330+2208560]
	BaseThreadInitThunk [0x763EFA29+25]
	RtlGetAppContainerNamedObjectPath [0x777D7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x777D7A6E+238]

In [ ]:
#finding web element for search location bar using relative xpath
search_location=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")
search_location

In [ ]:
#finding web element for job location bar
search_location.send_keys("Bangalore")

In [ ]:
#Clicking using relative xpath function
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_button

In [ ]:
search_button.click()

# Extracting Job Titles

In [92]:
#extract all web element having job titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="99711ea9-1c88-451c-a26f-41d4d87a44f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="301d85de-c7e6-49e5-aa46-3462d3901f3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="4e0bd612-4e49-4fd8-a5a4-22634a8d999f")>]

In [101]:
#we will run for loop to iterate over the tags and will extract text
job_titles=[]

for i in title_tags[:10]:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Lead - Data Analyst / Scientist',
 'Research - Data Analyst / Associate',
 'Data Analyst - CRM Platform',
 'Senior Data Analyst - Supporting Audits',
 'Senior Data Analyst - KPO',
 'Data Analyst',
 'Financial Data Analyst',
 'Tcs Hiring For Data Analyst / Engineers',
 'Business Data Analyst - Database Design/Mining',
 'Senior Analyst, Data Engineering']

# Extracting Company Names

In [94]:
#extract all web element having company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="45cb2440-d494-491e-adfd-99826a0931a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="1c0e6df7-3ce2-4b40-a329-94c32cd3f932")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="ab3672f8-f6e5-4b0e-bd99-db011c668428")>]

In [95]:
#we will run for loop to iterate over the tags and will extract text
company_names=[]

for i in company_tags[:10]:
    company_names.append(i.text)
len(company_names)
company_names[0:10]

['Axim Technologies',
 'AXL HR Tech',
 'Artech infosystem',
 'Visa',
 'Huquo Consulting Pvt. Ltd',
 'Snaphunt',
 "Moody's",
 'TCS',
 'AugmatrixGo',
 'Dell']

# Extracting Job Experience

In [96]:
#extract all web element having experience using parent tag
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)
exp_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="80e70e34-7158-499d-bd5d-fab97783b920")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="9068cb54-9773-421e-be85-791917077cde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="99411a8a-8efb-4ba0-b9cd-41c50ed1dcb4")>]

In [97]:
#we will run for loop to iterate over the tags and will extract text
experience=[]

for i in exp_tags[:10]:
    experience.append(i.text)
len(experience)
experience[0:10]

['12-14 Yrs',
 '0-2 Yrs',
 '1-6 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '5-10 Yrs']

# Extracting Company Location

In [98]:
#extract all web element having company location
locs_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(exp_tags)
exp_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="80e70e34-7158-499d-bd5d-fab97783b920")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="9068cb54-9773-421e-be85-791917077cde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="99411a8a-8efb-4ba0-b9cd-41c50ed1dcb4")>]

In [99]:
location=[]

for i in locs_tags[:10]:
    location.append(i.text)
len(location)
location[0:10]

['Bangalore/Bengaluru',
 'Mumbai, Delhi / NCR, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [102]:
len(job_titles),len(company_names),len(experience),len(location)

(10, 10, 10, 10)

# Making Dataframe

In [105]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Comapny Name']=company_names
jobs['Work Experience ']=experience
jobs['Company Location']=location
jobs

,Job Title,Comapny Name,Work Experience,Company Location
0,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Bangalore/Bengaluru
1,Research - Data Analyst / Associate,AXL HR Tech,0-2 Yrs,"Mumbai, Delhi / NCR, Bangalore/Bengaluru"
2,Data Analyst - CRM Platform,Artech infosystem,1-6 Yrs,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
3,Senior Data Analyst - Supporting Audits,Visa,5-8 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst - KPO,Huquo Consulting Pvt. Ltd,7-12 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
5,Data Analyst,Snaphunt,0-2 Yrs,Bangalore/Bengaluru
6,Financial Data Analyst,Moody's,0-2 Yrs,Bangalore/Bengaluru
7,Tcs Hiring For Data Analyst / Engineers,TCS,4-9 Yrs,"Pune, Bangalore/Bengaluru, Delhi / NCR"
8,Business Data Analyst - Database Design/Mining,AugmatrixGo,2-5 Yrs,Bangalore/Bengaluru
9,"Senior Analyst, Data Engineering",Dell,5-10 Yrs,Bangalore/Bengaluru

# Q2)python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

We will Scrap data from https://www.naukri.com/ website for "Data Scientist" job role in Bangalore location.
We scrap first 10 jobs data and 3 field for "Data Scientist" job as mention below:
a)job-title
b)job-location
c)company_name

In [122]:
#First connect to web driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [123]:
url='https://www.naukri.com/'
driver.get(url)

In [124]:
#finding web element for search bar using id
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [125]:
#write on search bar
search_job.send_keys("Data Scientist")

In [126]:
#finding web element for search location bar using relative xpath
search_location=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")
search_location

In [128]:
#finding web element for job location bar
search_location.send_keys("Bangalore")

In [129]:
#Clicking using relative xpath function
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_button

In [130]:
search_button.click()

# Extracting Job Titles

In [131]:
#extract all web element having job titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="faf62b745e5a6c0f96ee2d080aa3b335", element="cd3f8a0c-2ebc-43ab-bfa5-1a27c8249321")>,
 <selenium.webdriver.remote.webelement.WebElement (session="faf62b745e5a6c0f96ee2d080aa3b335", element="b72b0565-2b58-48be-bd8b-d786c6b74420")>,
 <selenium.webdriver.remote.webelement.WebElement (session="faf62b745e5a6c0f96ee2d080aa3b335", element="34e38d56-71e2-4f10-b7a1-4bb45f8569e5")>]

In [133]:
#we will run for loop to iterate over the tags and will extract text
job_titles=[]

for i in title_tags[:10]:
    job_titles.append(i.text)
job_titles

['Lead/Senior Data Scientist (NLP)',
 'Commercial Analytics Data Scientist',
 'Senior Data Scientist - Logistics',
 'Lead Data Scientist - NLP/OpenCV',
 'Lead Data Scientist',
 'Lead Data Scientist - Prescriptive Analytics/Predictive Modeling',
 'Lead - Data Analyst / Scientist',
 'Hiring For Data Scientist @ Bangalore',
 'Data Scientist - Logistics',
 'Job opening with Wipro For Data Scientist']

# Extracting Company Names

In [134]:
#extract all web element having company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="faf62b745e5a6c0f96ee2d080aa3b335", element="bca38841-2c1d-4157-a182-c9f98f993dea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="faf62b745e5a6c0f96ee2d080aa3b335", element="c7c63a94-1602-4cf0-9dd1-d90cfff2b6b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="faf62b745e5a6c0f96ee2d080aa3b335", element="fc6a5ffc-d73e-417d-9619-6f399a8be78f")>]

In [138]:
#we will run for loop to iterate over the tags and will extract text
company_names=[]

for i in company_tags[:10]:
    company_names.append(i.text)

company_names

['Samya.AI A FRACTAL Entity',
 'Dell',
 'GO-JEK India',
 'Codersbrain',
 'First American',
 'Codersbrain',
 'Axim Technologies',
 'West Pharmaceutical Packaging India Pvt. Ltd.',
 'Gojek Tech',
 'Wipro']

# Extracting Company Location

In [139]:
#extract all wb element having company location
locs_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(exp_tags)
exp_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="80e70e34-7158-499d-bd5d-fab97783b920")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="9068cb54-9773-421e-be85-791917077cde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f5345670c1f7d2624c9397e3c7a52fcc", element="99411a8a-8efb-4ba0-b9cd-41c50ed1dcb4")>]

In [142]:
location=[]

for i in locs_tags[:10]:
    location.append(i.text.replace('\n', ''))

location

['Bangalore/Bengaluru(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru']

In [144]:
len(job_titles),len(company_names),len(location)

(10, 10, 10)

# Making Dataframe

In [146]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Comapny Name']=company_names
jobs['Company Location']=location
jobs

,Job Title,Comapny Name,Company Location
0,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,Bangalore/Bengaluru(WFH during Covid)
1,Commercial Analytics Data Scientist,Dell,Bangalore/Bengaluru
2,Senior Data Scientist - Logistics,GO-JEK India,Bangalore/Bengaluru
3,Lead Data Scientist - NLP/OpenCV,Codersbrain,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
4,Lead Data Scientist,First American,Bangalore/Bengaluru
5,Lead Data Scientist - Prescriptive Analytics/P...,Codersbrain,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
6,Lead - Data Analyst / Scientist,Axim Technologies,Bangalore/Bengaluru
7,Hiring For Data Scientist @ Bangalore,West Pharmaceutical Packaging India Pvt. Ltd.,Bangalore/Bengaluru(WFH during Covid)
8,Data Scientist - Logistics,Gojek Tech,Bangalore/Bengaluru
9,Job opening with Wipro For Data Scientist,Wipro,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."

# Q3)python program to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [185]:
#First connect to web driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [186]:
url='https://www.naukri.com/'
driver.get(url)

In [187]:
#finding web element or search bar using id
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [188]:
#write on search bar
search_job.send_keys("Data Scientist")

In [191]:
#finding web element for search location bar using relative xpath
search_location=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")
search_location

In [192]:
#finding web element for job location bar
search_location.send_keys("Delhi/NCR")

In [193]:
#Clicking usin absolute xpath function
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_button

In [194]:
search_button.click()

Clicking filters by selecting check boxes using absolute xpath

In [196]:
location=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/p/span[1]')
location

In [197]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[1]/label/p/span[1]')
salary_check

Now first create 4 empty lists. In thee lists the data will be stored while scrapping

# Extracting Job Titles

In [199]:
#extract all web element having job titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="d832e77f-caa9-47d4-ac68-264f84cf53a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="a0738928-328f-4188-93cd-7c63e000a933")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="838e927e-aa6d-49d1-8e98-bc97678b8347")>]

In [201]:
#we will run for loop to iterate over the tags and will extract text
job_titles=[]

for i in title_tags[:10]:
    job_titles.append(i.text)
len(job_titles)
job_titles

['Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Senior Data Scientist I',
 'Openings For Jr/mid/Sr level data Scientists',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Data Analyst/Scientist',
 'Data Scientist role',
 'Data Scientist role',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Data Scientist']

# Extracting Company Names

In [202]:
#extract all web element having company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="5ca5f3fe-a103-49a3-8eff-bf181827d9f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="62e56ede-ff22-45a5-961d-8ecf62c21781")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="8cc1bd44-503d-40db-8fc4-d60b5b704c68")>]

In [205]:
#we will run for loop to iterate over the tags and will extract text
company_names=[]

for i in company_tags[:10]:
    company_names.append(i.text)
len(company_names)
company_names

['Schlesinger Group',
 'Delhivery',
 'Pluto seven business solutions (p) limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'itForte Staffing Services Private Ltd.',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'The Search House (A Div of JSD Search House Pvt. L td.)',
 'Teleperformance']

# Extracting Job Experience

In [206]:
#extract all web element having experience using parent tag
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)
exp_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="48c5bdca-53ea-426e-9489-48c12a4bed32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="94c89560-0ffa-4764-a3f6-1f96642164f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="a67957aa-e5be-4930-b0fc-5955338d8d8c")>]

In [207]:
#we will run for loop to iterate over the tags and will extract text
experience=[]

for i in exp_tags[:10]:
    experience.append(i.text)
len(experience)
experience

['0-3 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '4-9 Yrs']

# Extracting Company Location

In [208]:
#extract all web element having company location
locs_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(exp_tags)
exp_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="48c5bdca-53ea-426e-9489-48c12a4bed32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="94c89560-0ffa-4764-a3f6-1f96642164f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de8837a78562639383dfe983a64db42a", element="a67957aa-e5be-4930-b0fc-5955338d8d8c")>]

In [209]:
location=[]

for i in locs_tags[:10]:
    location.append(i.text)
len(location)
location

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Chennai']

In [210]:
len(job_titles),len(company_names),len(experience),len(location)

(10, 10, 10, 10)

# Making Dataframe

In [211]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Comapny Name']=company_names
jobs['Work Experience ']=experience
jobs['Company Location']=location
jobs

,Job Title,Comapny Name,Work Experience,Company Location
0,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,0-3 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
1,Senior Data Scientist I,Delhivery,3-7 Yrs,Gurgaon/Gurugram
2,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
3,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
4,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
5,Data Analyst/Scientist,itForte Staffing Services Private Ltd.,3-7 Yrs,Gurgaon
6,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
7,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
8,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,2-7 Yrs,Gurgaon/Gurugram
9,Data Scientist,Teleperformance,4-9 Yrs,"Gurgaon/Gurugram, Chennai"

# Q4)python program for scrape data of first 100 sunglasses listings on flipkart.com.

You have to scrape below attributes:
1. Brand
2. Product Description
3. Price

In [20]:
#Firstconnect to web driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [21]:
url='http://www.flipkart.com/'

driver.get(url)

In [15]:
#finding web element for search bar using class name
search_product=driver.find_element_by_class_name("_3704LK")
search_product

In [16]:
#write on search bar
search_product.send_keys("sunglasses")

In [18]:
#Clicking using class name
search_button=driver.find_element_by_class_name("_34RNph")
search_button

In [19]:
search_button.click()

# Extracting brand name

In [36]:
#extract all web element having brand name
brand_name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_name)
brand_name[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="d3bf39fb-1ce7-4208-b121-a594fdf9a537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="56abdf6f-9b45-4fb9-9a95-ab64e3b3efef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="c4ea5267-4653-4197-8bc2-3e5c3ddc36d5")>]

In [38]:
#we will run for loop to iterate over the tags and will extract text
brand_titles=[]

for i in brand_name:
    brand_titles.append(i.text)
len(brand_titles)
brand_titles[0:3]

['VINCENT CHASE', 'AISLIN', 'SRPM']

# Extracting Product Description

In [39]:
#extract all web element having Product Description
product_description=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(product_description)
product_description[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="366e1b1e-b4a3-414f-b5dd-d081794bfd5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="edb34bd1-65d7-4c75-85ea-a1821f4cb72a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="21af6c62-7db6-4e38-8654-ee38f0aa5807")>]

In [40]:
#we will run for loop to iterate over the tags and will extract text
product_descsriptions=[]

for i in product_description:
    product_descsriptions.append(i.text)
len(product_descsriptions)
product_descsriptions[0:3]

['by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (56)']

# Extracting price

In [41]:
#extract all web element having price
product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(product_price)
product_price[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="9a518e08-7614-4734-85df-2f201989264b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="8acdbd3a-be5f-45cb-84a0-9f3ef01baac1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="e3bec5b1-8c5d-416a-ae02-0e2c54cdcfc5")>]

In [48]:
#we will run for loop to iterate over the tags and will extract text
rate=[]

for i in product_price:
    rate.append(i.text)
len(rate)
rate[0:3]

['₹999', '₹459', '₹188']

In [43]:
len(brand_titles),len(product_descsriptions),len(rate)

(40, 40, 40)

# Making Dataframe

In [49]:
product=pd.DataFrame()
product['Brand Name']=brand_titles
product['Product Description']=product_descsriptions
product['Price']=rate

product

,Brand Name,Product Description,Price
0,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (...,₹999
1,AISLIN,"UV Protection, Gradient Butterfly, Wayfarer Su...",₹459
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759
4,kingsunglasses,UV Protection Round Sunglasses (54),₹188
5,Elligator,UV Protection Round Sunglasses (54),₹248
6,PIRASO,UV Protection Aviator Sunglasses (54),₹200
7,AISLIN,"UV Protection, Gradient Round Sunglasses (58)",₹498
8,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165
9,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259
10,PIRASO,UV Protection Aviator Sunglasses (54),₹200
11,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999
12,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹262
13,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹474
14,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹271
15,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹426
16,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹383
17,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹274
18,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹181
19,ROZZETTA CRAFT,Gradient Round Sunglasses (Free Size),₹426
20,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309
21,PIRASO,UV Protection Wayfarer Sunglasses (32),₹190
22,ROYAL SON,Mirrored Aviator Sunglasses (55),₹359
23,NuVew,UV Protection Aviator Sunglasses (57),₹325
24,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹348
25,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹187
26,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹156
27,NuVew,"UV Protection, Mirrored Aviator Sunglasses (58)",₹235
28,Rich Club,UV Protection Round Sunglasses (50),₹355
29,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
30,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276
31,AISLIN,"UV Protection Wayfarer, Rectangular Sunglasses...","₹1,040"
32,Elligator,UV Protection Round Sunglasses (53),₹179
33,PIRASO,UV Protection Aviator Sunglasses (58),₹299
34,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹449
35,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹459
36,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹360
37,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349
38,Fastrack,UV Protection Shield Sunglasses (Free Size),₹789
39,AISLIN,UV Protection Wayfarer Sunglasses (61),₹698

# Extracting next page brand name

In [50]:
#extract all web element having brand name
brand_name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_name)
brand_name[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="7b734938-6365-40f3-840d-3a046afa04c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="d5552061-6158-4056-9045-81ca62c31242")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="614d312e-b484-46ae-b675-bd1d71102f25")>]

In [51]:
#we will run for loop to iterate over the tags and will extract text
brand_titles=[]

for i in brand_name:
    brand_titles.append(i.text)
len(brand_titles)
brand_titles[0:3]

['SUNBEE', 'Fastrack', 'kingsunglasses']

# Extracting next page Product Description

In [52]:
#extract all web element having Product Description
product_description=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(product_description)
product_description[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="15739ca7-2050-4895-9681-fdfa7cc32a03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="7516b64b-0e30-4eda-a852-7bc9f016c554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="4a04269b-df5c-494b-a406-704ca4b3e0ec")>]

In [53]:
#we will run for loop to iterate over the tags and will extract text
product_descsriptions=[]

for i in product_description:
    product_descsriptions.append(i.text)
len(product_descsriptions)
product_descsriptions[0:3]

['UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...']

# Extracting next page brand price

In [56]:
#extract all web element having price
product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(product_price)
product_price[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="d9f3a729-c97c-4de2-af44-8f681dd4a229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="72f69452-64a1-4f46-9829-645afe9d1d0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5a0bde3e283f6ca05203a53c28888382", element="d2d3c1cc-c9ed-4804-9b5d-087aca482c20")>]

In [57]:
#we will run for loop to iterate over the tags and will extract text
rate=[]

for i in product_price:
    rate.append(i.text)
len(rate)
rate[0:3]

['₹243', '₹1,089', '₹273']

In [58]:
len(brand_titles),len(product_descsriptions),len(rate)

(40, 40, 40)

# Making Dataframe

In [59]:
nextpage=pd.DataFrame()
nextpage['Brand Name']=brand_titles
nextpage['Product Description']=product_descsriptions
nextpage['Price']=rate

nextpage

        Brand Name                                Product Description   Price
0           SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...    ₹243
1         Fastrack              UV Protection Aviator Sunglasses (58)  ₹1,089
2   kingsunglasses  UV Protection, Night Vision Wayfarer Sunglasse...    ₹273
3    VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (53)    ₹999
4            agera                   Gradient Aviator Sunglasses (55)    ₹196
5        Rich Club                    Polarized Round Sunglasses (48)    ₹165
6     Singco India  Riding Glasses, UV Protection, Others Aviator ...    ₹201
7           AISLIN  UV Protection, Gradient Butterfly, Wayfarer Su...    ₹459
8       PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...    ₹299
9           PIRASO            UV Protection Butterfly Sunglasses (65)    ₹349
10         DEIXELS  UV Protection Aviator, Wayfarer Sunglasses (Fr...    ₹202
11          AISLIN      UV Protection, Gradient Round Sunglasses (58)    ₹498
12       ROYAL SON                   Mirrored Aviator Sunglasses (55)    ₹359
13  kingsunglasses         UV Protection Round Sunglasses (Free Size)    ₹289
14          PIRASO              UV Protection Aviator Sunglasses (54)    ₹200
15   VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (...    ₹999
16        Fastrack       UV Protection Aviator Sunglasses (Free Size)    ₹639
17            hipe  Mirrored, Gradient, UV Protection Aviator Sung...    ₹178
18  kingsunglasses   UV Protection Rectangular Sunglasses (Free Size)    ₹192
19  ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...    ₹426
20            hipe  UV Protection, Gradient, Mirrored, Riding Glas...    ₹209
21       New Specs   UV Protection Rectangular Sunglasses (Free Size)    ₹169
22       ROYAL SON                   Mirrored Aviator Sunglasses (55)    ₹359
23   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    ₹999
24          GANSTA  UV Protection, Riding Glasses Wayfarer Sunglas...    ₹209
25        Fastrack             UV Protection Wayfarer Sunglasses (55)    ₹549
26          SUNBEE  UV Protection, Polarized, Mirrored Wayfarer Su...    ₹276
27  ROZZETTA CRAFT              Gradient Round Sunglasses (Free Size)    ₹426
28       Elligator  UV Protection Retro Square, Round Sunglasses (54)    ₹291
29      PHENOMENAL  UV Protection, Mirrored Clubmaster Sunglasses ...    ₹287
30            hipe        UV Protection Sports Sunglasses (Free Size)    ₹287
31           NuVew              UV Protection Aviator Sunglasses (57)    ₹325
32    Silver Kartz      UV Protection Wayfarer Sunglasses (Free Size)    ₹246
33  ROZZETTA CRAFT  Mirrored, UV Protection Round Sunglasses (Free...    ₹360
34  ROZZETTA CRAFT         UV Protection Round Sunglasses (Free Size)    ₹426
35           NuVew    UV Protection, Mirrored Aviator Sunglasses (58)    ₹235
36       ROYAL SON            Mirrored Aviator Sunglasses (Free Size)    ₹359
37            maxa  UV Protection, Riding Glasses Rectangular, Way...    ₹144
38        Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹639
39          AISLIN  UV Protection Wayfarer, Rectangular Sunglasses...  ₹1,040

# Q5)python program for 100 reviews data from flipkart.com for iphone11 phone.

You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [3]:
#First connect driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'

driver.get(url)

# Extracting product rating

In [8]:
#extract all web element having product rating
product_rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(product_rating)
product_rating[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="1345a951b02e6ea96dce8b6c31ba2346", element="e5fc0af1-bd12-412e-bff2-43d49e8ad45a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1345a951b02e6ea96dce8b6c31ba2346", element="42c9e39b-0e6c-4fbb-9dae-dd0e9c0d0d69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1345a951b02e6ea96dce8b6c31ba2346", element="7d3f2284-40cb-4c0c-a0b2-c03e66944acf")>]

In [12]:
#we will run for loop to iterate over the tags and will extract text
rating=[]

for i in product_rating:
    rating.append(i.text)
len(rating)
rating

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

# product review summary

In [13]:
#extract all web element having product review summary
product_review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(product_review_summary)
product_review_summary[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="1345a951b02e6ea96dce8b6c31ba2346", element="a3ef85e2-0fbb-447b-b899-cb492e5e8b64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1345a951b02e6ea96dce8b6c31ba2346", element="26e6bb03-4e8c-4d63-b6b2-b47b5b8f187c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1345a951b02e6ea96dce8b6c31ba2346", element="4a3ce888-2ec6-4341-80db-5ad820b52b28")>]

In [14]:
#we will run for loop to iterate over the tags and will extract text
review_summary=[]

for i in product_review_summary:
    review_summary.append(i.text)
len(review_summary)
review_summary

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

# product full review

In [16]:
#extract all web element having product full review
product_full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(product_full_review)
product_full_review[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="1345a951b02e6ea96dce8b6c31ba2346", element="5ebc378e-3a9d-4537-a267-3671709ae547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1345a951b02e6ea96dce8b6c31ba2346", element="ea04f2f1-1e28-4f4d-a65c-74fc2c8ee8a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1345a951b02e6ea96dce8b6c31ba2346", element="44de4fc1-d969-4f99-ade2-b205a8438204")>]

In [18]:
#we will run for loop to iterate over the tags and will extract text
full_review=[]

for i in product_full_review:
    full_review.append(i.text)
len(full_review)
full_review[0:3]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .']

In [21]:
len(rating),len(review_summary),len(full_review)

(10, 10, 10)

# Making Dataframe

In [23]:
iPhone11=pd.DataFrame()
iPhone11['Rating']=rating
iPhone11['Review summary']=review_summary
iPhone11['Full review']=full_review
iPhone11

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
9,5,Highly recommended,What a camera .....just awesome ..you can feel...

# Q6) python program for scrape data for first 100 sneakers-flipkart.com and search for “sneakers” in the search field.

Scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [27]:
#First connect to web driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [30]:
url='https://www.flipkart.com'

driver.get(url)

In [43]:
#finding web element for search bar using class
search_product=driver.find_element_by_class_name("_3704LK")
search_product

In [44]:
#write on seach bar
search_product.send_keys('sneakers')

In [45]:
#Clicking using class name
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button

In [46]:
search_button.click()

# Extracting brand name

In [47]:
#extract all web element having brand name
brand_name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_name)
brand_name[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="a873f7bac23aa9f1b41fe3d877bc9a83", element="37cd0721-e948-4729-912b-0b2c06980c42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a873f7bac23aa9f1b41fe3d877bc9a83", element="4ba4a786-5d3f-4bdb-a5d4-5e8826ff49f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a873f7bac23aa9f1b41fe3d877bc9a83", element="eb51b8ef-7909-47a2-b83f-00ed11115cdd")>]

In [50]:
#we will run for loop to iterate over the tags and will extract text
brand=[]

for i in brand_name:
    brand.append(i.text)
len(brand)
brand[0:3]

['PEHANOSA', 'PUMA', 'Magnolia']

# Extracting product description

In [76]:
#extract all web element having product_description
product_description=driver.find_elements_by_class_name("IRpwTa")
len(product_description)
product_description[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="a873f7bac23aa9f1b41fe3d877bc9a83", element="0fd48ca2-c556-411f-95b2-11e4df3906dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a873f7bac23aa9f1b41fe3d877bc9a83", element="cd479cc6-12af-4166-8559-4a46be2a2297")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a873f7bac23aa9f1b41fe3d877bc9a83", element="acb62cd2-e7b6-45d0-93be-6d106bb3664f")>]

In [80]:
#we will run for loop to iterate over the tags and will extract text
description=[]

for i in product_description:
    description.append(i.text)
len(description)
description[0:3]

['Sneakers For Men', 'RS-Z Sneakers For Men', 'Sneakers For Men']

# Extracting product price

In [83]:
#extract all web element having product price
product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(product_price)
product_price[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="a873f7bac23aa9f1b41fe3d877bc9a83", element="7a103ea0-0e06-418e-b65f-8e19adfcf30b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a873f7bac23aa9f1b41fe3d877bc9a83", element="4eebe0bf-cb6f-4f25-a090-e52f72087c1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a873f7bac23aa9f1b41fe3d877bc9a83", element="44aa0228-2395-418e-afcf-c46bf81064a3")>]

In [86]:
#we will run for loop to iterate over the tags and will extract text
price=[]

for i in product_price:
    price.append(i.text)
len(price)
price[0:3]

['₹699', '₹9,999', '₹398']

# Making Dataframe

In [87]:
sneakers=pd.DataFrame()
sneakers['Brand Name']=brand
sneakers['Product Description']=description
sneakers['Price']=price
sneakers

         Brand Name                                Product Description   Price
0          PEHANOSA                                   Sneakers For Men    ₹699
1              PUMA                              RS-Z Sneakers For Men  ₹9,999
2          Magnolia                                   Sneakers For Men    ₹398
3    luxury fashion  Luxury Fashionable casual sneaker shoes Sneake...    ₹449
4            Extoes  Modern Trendy Shoes Combo pack of 4 Sneakers F...    ₹898
5          URBANBOX                          Sneakers Sneakers For Men    ₹220
6            Labbin                                   Sneakers For Men    ₹499
7             hecta                                   Sneakers For Men    ₹489
8      Stefano Rads                            Classy Sneakers For Men    ₹242
9        D-SNEAKERZ  Casual , Partywear Sneakers Shoes For Men's An...    ₹348
10        SCATCHITE                          Sneakers Sneakers For Men    ₹398
11           Advick                                   Sneakers For Men    ₹920
12         ASTEROID  Original Luxury Branded Fashionable Men's Casu...    ₹499
13           Kraasa                          Series 7 Sneakers For Men    ₹444
14          Numenzo                        411 Casual Sneakers For Men    ₹426
15             PUMA                   Ferrari Neo Cat Sneakers For Men  ₹3,999
16             PUMA                             Glory Sneakers For Men  ₹1,379
17        Trendmode                                   Sneakers For Men    ₹259
18       Shoes Bank     White Sneaker For Men's/Boy's Sneakers For Men    ₹331
19            hecta                                   Sneakers For Men    ₹489
20            BIRDE              Sports Running Shoes Sneakers For Men    ₹299
21         HOTSTYLE                                   Sneakers For Men    ₹298
22     K- FOOTLANCE                                   Sneakers For Men    ₹489
23            hecta                                   Sneakers For Men    ₹489
24  ganpati traders                                   Sneakers For Men    ₹189
25            Echor  Men's Sneakers Fashion Lightweight Running Sho...    ₹499
26           Kraasa                          Shark-41 Sneakers For Men    ₹444
27            hecta                                   Sneakers For Men    ₹489
28               TR                                   Sneakers For Men    ₹599
29        DUNKASTON                                   Sneakers For Men    ₹449
30           BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹339
31            hecta                                   Sneakers For Men    ₹489
32        India hub  Luxury Fashionable casual sneaker shoes Sneake...    ₹499
33          Numenzo             White Sneaker For Men Sneakers For Men    ₹407
34     Robbie jones  Casual Sneakers Black Shoes For Men Sneakers F...    ₹451
35             PUMA                          RS-X Mix Sneakers For Men  ₹5,399
36            CLYMB                                   Sneakers For Men    ₹649
37           Rzisbo                                   Sneakers For Men    ₹549
38             PUMA                             Glory Sneakers For Men  ₹1,379
39              GVR                                   Sneakers For Men    ₹549

# Q7)python program for scrap First 100 shoes data. The data should include “Brand” of the shoes, Short Shoe description, price from https://www.myntra.com/shoes.

Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”,

In [5]:
#First connect to web driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [6]:
url='https://www.myntra.com/shoes'

driver.get(url)

Clicking filters by selecting check boxes using absolute xpath

In [7]:
price_range=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_range

In [8]:
product_color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
product_color

Now first create 3 empty lists. In thee lists the data will be stored while scrapping

# Extracting Brand Name

In [11]:
#extract all web element having brand name 
brand_name=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_name)
brand_name[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="40a0544df18870ca2516f93188c4f5cb", element="0a91d274-161a-4870-a514-49735cef79c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="40a0544df18870ca2516f93188c4f5cb", element="f251d817-fff2-461d-b0e0-774e7f621652")>,
 <selenium.webdriver.remote.webelement.WebElement (session="40a0544df18870ca2516f93188c4f5cb", element="ccebf4ad-3450-4af3-97d1-b38457683fab")>]

In [14]:
#we will run for loop to iterate over the tags and will extract text
brand=[]

for i in brand_name:
    brand.append(i.text)
len(brand)
brand[0:3]

['PUMA Motorsport', 'Puma', 'Puma']

# Extracting , Short Shoe description

In [16]:
#extract all web element having short_shoe_description 
short_shoe_description=driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(short_shoe_description)
short_shoe_description[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="40a0544df18870ca2516f93188c4f5cb", element="d4e64f6d-616b-438d-8758-04a37cdd05fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="40a0544df18870ca2516f93188c4f5cb", element="bf6bb01b-c896-482a-a2a3-a098d455d5b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="40a0544df18870ca2516f93188c4f5cb", element="dc4d58ab-fbd4-47d8-aa27-97147f6cb3de")>]

In [17]:
#we will run for loop to iterate over the tags and will extract text
shoe_description=[]

for i in short_shoe_description:
    shoe_description.append(i.text)
len(shoe_description)
shoe_description[0:3]

['Unisex Mercedes F1 Sneakers',
 'Men Running Shoes',
 'Men Magnify Nitro Running']

# Extracting product price

In [76]:
#extract all web element having product_price
product_price=driver.find_elements_by_xpath('//div[@class="product-price"]')
len(product_price)
product_price[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="40a0544df18870ca2516f93188c4f5cb", element="197a5864-0b1b-41fd-b7ea-f7670df9c93c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="40a0544df18870ca2516f93188c4f5cb", element="d5dfe7b5-f879-4b9f-b36a-cc01258bd1a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="40a0544df18870ca2516f93188c4f5cb", element="3d15cf5e-1373-484e-b49a-e3a03728324f")>]

In [77]:
#we will run for loop to iterate over the tags and will extract text
price=[]

for i in product_price:
    price.append(i.text)
len(price)
price[0:3]

['Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 8449Rs. 12999(35% OFF)']

# Making Dataframe

In [78]:
Shoe=pd.DataFrame()
Shoe['Brand Name']=brand
Shoe['Short Shoe description']=shoe_description
Shoe['Shoe price']=price
Shoe

,Brand Name,Short Shoe description,Shoe price
0,PUMA Motorsport,Unisex Mercedes F1 Sneakers,Rs. 7999Rs. 9999(20% OFF)
1,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
2,Puma,Men Magnify Nitro Running,Rs. 8449Rs. 12999(35% OFF)
3,Puma,Men Electrify Nitro Running,Rs. 7499Rs. 9999(25% OFF)
4,Saint G,Men Mid-Top Chelsea Boots,Rs. 9810Rs. 10900(10% OFF)
5,Puma,Women Magnify Nitro Shoes,Rs. 8449Rs. 12999(35% OFF)
6,RARE RABBIT,Men Leather Flat Boots,Rs. 7999Rs. 9999(20% OFF)
7,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
8,Calvin Klein,Men Solid Suede Sneakers,Rs. 7999
9,ASICS,Men Colourblocked PU Sneakers,Rs. 9999
10,Bugatti,Men Running Shoes,Rs. 7999Rs. 9999(20% OFF)
11,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
12,Saint G,Men Leather Chelsea Boots,Rs. 10710Rs. 11900(10% OFF)
13,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 8990
14,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
15,Geox,Men Leather Flat Boots,Rs. 8399Rs. 11999(30% OFF)
16,RARE RABBIT,Men Textured Leather Loafers,Rs. 7149Rs. 10999(35% OFF)
17,Saint G,Leather Wedge Heeled Boots with Buckles,Rs. 13410Rs. 14900(10% OFF)
18,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
19,Saint G,Suede High-Top Flatform Heeled Boots,Rs. 12150Rs. 13500(10% OFF)
20,Saint G,Embellished Leather Block Heeled Boots,Rs. 9546Rs. 12900(26% OFF)
21,Puma,Women Velocity NITRO Runners,Rs. 7699Rs. 10999(30% OFF)
22,Geox,Women Leather Pumps,Rs. 8999
23,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999
24,Bugatti,Men Black Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
25,Tommy Hilfiger,Women Hybrid Leather Sneakers,Rs. 7999
26,Xtep,Men Running Shoes,Rs. 7699
27,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
28,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
29,J.FONTINI,Men Black Leather Loafers,Rs. 8490
30,Geox,Men Leather Loafers,Rs. 9999
31,DAVINCHI,Ustraa black,Rs. 8990
32,DAVINCHI,Men Formal Leather Slip-Ons,Rs. 8990
33,Louis Philippe,Men Leather Formal Slip-Ons,Rs. 8499
34,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
35,Geox,Women Solid Leather Pumps,Rs. 7999
36,Geox,Women Solid Leather Pumps,Rs. 10990
37,Pavers England,Men Leather Driving Shoes,Rs. 7499
38,Saint G,Women Leather Heeled Boots,Rs. 10710Rs. 11900(10% OFF)
39,Cole Haan,Women Open Toe Flats,Rs. 11999
40,Geox,Women Solid Leather Ballerinas,Rs. 8999
41,Cole Haan,Women Solid Leather Ballerinas,Rs. 13999
42,DAVINCHI,Men Textured Leather Formal Slip-Ons,Rs. 8990
43,Pavers England,Men Solid Leather Formal Loafers,Rs. 7999
44,Pavers England,Men Textured Leather Formal Slip-On Shoes,Rs. 9999
45,Saint G,Leather Block Heeled Boots,Rs. 8550Rs. 9500(Rs. 950 OFF)
46,Pavers England,Men Solid Leather Formal Derbys,Rs. 8999
47,Saint G,Leather Kitten Heeled Boots,Rs. 8910Rs. 9900(Rs. 990 OFF)
48,Saint G,Suede Party High-Top Block Heeled Boots,Rs. 9450Rs. 10500(10% OFF)
49,Saint G,Leather Block Heeled Boots with Bows,Rs. 12510Rs. 13900(10% OFF)

# Q8)python program for scrap First 10 Laptop data.

Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [36]:
#First connec to web driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [37]:
url='https://www.amazon.in/'

driver.get(url)

In [40]:
#finding weblement for search bar using id
search_product=driver.find_element_by_id("twotabsearchtextbox")
search_product

In [41]:
#write on search bar
search_product.send_keys("Laptop")

In [42]:
#Clicking using relative xpath function
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button

In [43]:
search_button.click()

Clicking filters by selecting check boxes using absolute xpath

In [44]:
Intel_Core_i7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span/a[2]/div/span')
Intel_Core_i7

Now first create 3 empty lists. In the lists the data will be stored while scrapping

# Extracting product titles

In [61]:
#extract all web element having product titles
product_titles=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-4"]')
len(product_titles)

29

In [62]:
#we will run for loop to iterate over the tags and will extract text
titles=[]

for i in product_titles[:10]:
    titles.append(i.text)
len(titles)
titles

['Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'MSI GF75 Thin Gaming, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512Gb SSD, Win 11 + MSO\'21, 14" (35.56 cms) FHD, Platinum Silver Color, FPR + Backlit KB & Active Pen (Inspiron 5410, D560629WIN9S)',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1F38024',
 'HP Pavilion x360 11th Gen Intel Core i7-16GB RAM/512GB SSD 14-inch(35.6 cm) FHD, IPS, Convertible Laptop (B&O/Win 11/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU']

# Extracting product rating

In [107]:
#extract all web element having product rating
product_rating=driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
len(product_rating)

26

In [108]:
#we will run for loop to iterate over the tags and will extract text
rating=[]

for i in product_rating[:10]:
    rating.append(i.text)
len(rating)
rating

['', '', '', '', '', '', '', '', '', '']

# Extracting product price

In [100]:
#extract all web element having product price
product_price=driver.find_elements_by_xpath('//span[@class="a-price"]')
len(product_price)

27

In [101]:
price=[]

for i in product_price[:10]:
    price.append(i.text)
len(price)
price

['₹49,990',
 '₹59,990',
 '₹69,990',
 '₹89,490',
 '₹49,990',
 '₹59,990',
 '₹79,990',
 '₹88,890',
 '₹87,490',
 '₹84,990']

# Making Dataframe Intel Core i7

In [109]:
laptop=pd.DataFrame()
laptop['Product Tilte']=titles
laptop['Product Rating']=rating
laptop['Product Price']=price
laptop

,Product Tilte,Product Rating,Product Price
0,Mi Notebook Horizon Edition 14 Intel Core i7-1...,,"₹49,990"
1,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",,"₹59,990"
2,"MSI GF75 Thin Gaming, Intel i7-10750H, 17.3"" (...",,"₹69,990"
3,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,,"₹89,490"
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,,"₹49,990"
5,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",,"₹59,990"
6,Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...,,"₹79,990"
7,Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...,,"₹88,890"
8,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,,"₹87,490"
9,HP Pavilion x360 11th Gen Intel Core i7-16GB R...,,"₹84,990"

Clicking filters by selecting check boxes using absolute xpath

In [60]:
Intel_Core_i9=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span/a/div/span')
Intel_Core_i9

Now first create 3 empty lists. In the lists the data will be stored while scrapping

# Extracting product titles

In [113]:
#extract all web element having product title
product_title=driver.find_elements_by_xpath('//span[@class="a-size-base-plus a-color-base a-text-normal"]')
len(product_title)
product_title[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="fe36ff81f7c7e862423169885c0da2df", element="7ad5e15a-22d7-42bf-b601-499996a4d7a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe36ff81f7c7e862423169885c0da2df", element="f2176a52-ad5c-414b-a45f-930b25f36aed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe36ff81f7c7e862423169885c0da2df", element="3bcfd20c-f8d0-4393-97cf-febb70f96a01")>]

In [114]:
#we will run for loop to iterate over the tags and will extract text
title=[]

for i in product_title[:9]:
    title.append(i.text)
len(title)
title

['ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 240Hz/3ms, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg), FX506HM-AZ099TS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg), FX566HM-HN097TS',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz Gaming Laptop RTX 2070 8GB Graphics (Core i9-9880H 9th Gen/32GB RAM/1TB PCIe SSD/Windows 10/Scar Gunmetal/2.57 Kg), G531GW-AZ113T',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP',
 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6” FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty',
 'Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz 10C) /16GB RAM/512GB SSD+1TB SATA/Nvidia RTX 3070 8GB Graphics/DVDRW/Windows 10 Pro/3 Year Warranty']

# Extracting product rating

In [178]:
#extract all web element having product rating
product_ratings1=driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
len(product_ratings1)

6

In [179]:
#we will run for loop to iterate over the tags and will extract text
ratings1=[]

for i in product_ratings1[:10]:
    ratings1.append(i.text)
len(ratings1)
ratings1

['', '', '', '', '', '']

# Extracting product price

In [167]:
#extract all web element having product price
product_price1=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(product_price1)

10

In [168]:
price1=[]

for i in product_price1[:9]:
    price1.append(i.text)
len(price1)
price1

['1,43,990',
 '1,44,990',
 '1,39,990',
 '2,65,999',
 '1,89,000',
 '2,25,000',
 '2,00,000',
 '2,45,000',
 '2,39,000']

# Making Dataframe Intel Core i9

In [181]:
laptopi9=pd.DataFrame()
laptopi9['Product Tilte']=title
#laptopi9['Product Rating']=ratings
laptopi9['Product Price']=price1
laptopi9

                                       Product Tilte Product Price
0  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...      1,43,990
1  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...      1,44,990
2  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...      1,39,990
3  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...      2,65,999
4  ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz...      1,89,000
5  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...      2,25,000
6  Dell Precision 5550 || i9 -10885H || 16GB || 1...      2,00,000
7  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...      2,45,000
8  Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...      2,39,000

# Q9) python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.

You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.

In [3]:
#First connect to web driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url='https://www.ambitionbox.com/'

driver.get(url)

In [7]:
#finding web element for search bar using class name
search_role=driver.find_element_by_class_name("twitter-typeahead")
search_role

In [8]:
#write on search bar
search_role.send_keys("Data Scientist")

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=97.0.4692.71)
Stacktrace:
Backtrace:
	Ordinal0 [0x00E0FDC3+2555331]
	Ordinal0 [0x00DA77F1+2127857]
	Ordinal0 [0x00CA2CD0+1060048]
	Ordinal0 [0x00CC99F3+1219059]
	Ordinal0 [0x00CC913F+1216831]
	Ordinal0 [0x00CE7B0C+1342220]
	Ordinal0 [0x00CC4984+1198468]
	Ordinal0 [0x00CE7C14+1342484]
	Ordinal0 [0x00CF75FA+1406458]
	Ordinal0 [0x00CE7976+1341814]
	Ordinal0 [0x00CC36B6+1193654]
	Ordinal0 [0x00CC4546+1197382]
	GetHandleVerifier [0x00FA9622+1619522]
	GetHandleVerifier [0x0105882C+2336844]
	GetHandleVerifier [0x00EA23E1+541697]
	GetHandleVerifier [0x00EA1443+537699]
	Ordinal0 [0x00DAD18E+2150798]
	Ordinal0 [0x00DB1518+2168088]
	Ordinal0 [0x00DB1660+2168416]
	Ordinal0 [0x00DBB330+2208560]
	BaseThreadInitThunk [0x75D2FA29+25]
	RtlGetAppContainerNamedObjectPath [0x76EF7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x76EF7A6E+238]

In [9]:
#Clicking using relative xpath function
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span")
search_button

In [10]:
search_button.click()

Clicking filters by selecting check boxes using absolute xpath

In [11]:
search_location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
search_location

In [12]:
#finding web element for job location bar
search_location.send_keys("Noida")

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=97.0.4692.71)
Stacktrace:
Backtrace:
	Ordinal0 [0x00E0FDC3+2555331]
	Ordinal0 [0x00DA77F1+2127857]
	Ordinal0 [0x00CA2CD0+1060048]
	Ordinal0 [0x00CC99F3+1219059]
	Ordinal0 [0x00CC913F+1216831]
	Ordinal0 [0x00CE7B0C+1342220]
	Ordinal0 [0x00CC4984+1198468]
	Ordinal0 [0x00CE7C14+1342484]
	Ordinal0 [0x00CF75FA+1406458]
	Ordinal0 [0x00CE7976+1341814]
	Ordinal0 [0x00CC36B6+1193654]
	Ordinal0 [0x00CC4546+1197382]
	GetHandleVerifier [0x00FA9622+1619522]
	GetHandleVerifier [0x0105882C+2336844]
	GetHandleVerifier [0x00EA23E1+541697]
	GetHandleVerifier [0x00EA1443+537699]
	Ordinal0 [0x00DAD18E+2150798]
	Ordinal0 [0x00DB1518+2168088]
	Ordinal0 [0x00DB1660+2168416]
	Ordinal0 [0x00DBB330+2208560]
	BaseThreadInitThunk [0x75D2FA29+25]
	RtlGetAppContainerNamedObjectPath [0x76EF7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x76EF7A6E+238]

Now first create 3 empty lists. In thee lists the data will be stored while scrapping

# Extracting Company Names

In [27]:
#extract all web element having company names
company_tags=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
len(company_tags)
company_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d7054c02fbe4c8ce8f88ee868369", element="5bb11bb0-a6e4-4495-9f44-b5d3a5adf249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d7054c02fbe4c8ce8f88ee868369", element="3c89e342-021b-409a-93a9-6de54a9b1fe8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d7054c02fbe4c8ce8f88ee868369", element="9ad5bd92-9eea-47e6-beeb-2ceea42569cb")>]

In [28]:
#we will run for loop to iterate over the tags and will extract text
company_names=[]

for i in company_tags[:10]:
    company_names.append(i.text)
len(company_names)
company_names

['HCL',
 'Jubilant Foodworks Limited',
 'Ameriprise Financial',
 'Paytm',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'Cargoflash']

# Extracting No. of days ago when job was posted

In [22]:
#extract all web element having No. of days ago when job was posted
No_of_days_ago=driver.find_elements_by_xpath('//div[@class="other-info"]/span')
len(No_of_days_ago)

30

In [23]:
#we will run for loop to iterate over the tags and will extract text
days=[]

for i in No_of_days_ago[:10]:
    days.append(i.text)
len(days)
days

['2d ago',
 '·',
 'via hirist.com',
 '2d ago',
 '·',
 'via naukri.com',
 '4d ago',
 '·',
 'via naukri.com',
 '10d ago']

# Extracting Rating of the company

In [24]:
#extract all web element having No. of days ago when job was posted
rating_of_company=driver.find_elements_by_xpath('//span[@class="body-small"]')
len(rating_of_company)

10

In [25]:
#we will run for loop to iterate over the tags and will extract text
ratings=[]

for i in rating_of_company[:10]:
    ratings.append(i.text)
len(ratings)
ratings

['3.8', '3.9', '4.0', '3.7', '3.8', '3.8', '4.1', '4.1', '4.1', '3.8']

# Making Dataframe

In [29]:
Data_Scientist=pd.DataFrame()
Data_Scientist['Company name']=company_names
Data_Scientist['No. of days ago when job was posted']=days
Data_Scientist['Rating of the company']=ratings
Data_Scientist

,Company name,No. of days ago when job was posted,Rating of the company
0,HCL,2d ago,3.8
1,Jubilant Foodworks Limited,·,3.9
2,Ameriprise Financial,via hirist.com,4.0
3,Paytm,2d ago,3.7
4,CHT Sapiense,·,3.8
5,CHT Sapiense,via naukri.com,3.8
6,GI Group,4d ago,4.1
7,GI Group,·,4.1
8,GI Group,via naukri.com,4.1
9,Cargoflash,10d ago,3.8

# Q10) python program to scrape the salary data for Data Scientist designation.

You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [182]:
#First connect to web driver
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [183]:
url='https://www.ambitionbox.com/'

driver.get(url)

# Extracting company name

In [196]:
#extract all web element having company name
company_name=driver.find_elements_by_xpath('//div[@class="name"]')
len(company_name)

10

In [213]:
#we will run for loop to iterate over the tags and will extract text
cname=[]

for i in company_name[:10]:
    cname.append(i.text.replace('\n',', '))
len(cname)
cname

['Tekion, based on 10 salaries',
 'Microsoft Corporation, based on 224 salaries',
 'Goldman Sachs, based on 11 salaries',
 'Flipkart, based on 54 salaries',
 'Amazon, based on 85 salaries',
 'Arcesium, based on 37 salaries',
 'PayPal, based on 12 salaries',
 'Servicenow Software Development India, based on 27 salaries',
 'Walmart, based on 79 salaries',
 'ServiceNow, based on 16 salaries']

# Extracting average salary

In [199]:
#extract all web element having average salary
average_salary=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
len(average_salary)

10

In [200]:
#we will run for loop to iterate over the tags and will extract text
asalary=[]

for i in average_salary[:10]:
    asalary.append(i.text)
len(asalary)
asalary

['₹ 23.3L',
 '₹ 22.4L',
 '₹ 21.9L',
 '₹ 20.6L',
 '₹ 19.4L',
 '₹ 18.5L',
 '₹ 18.4L',
 '₹ 18.3L',
 '₹ 17.9L',
 '₹ 17.8L']

# Extracting minimum salary

In [203]:
#extract all web element having minimum salar
minimum_salary=driver.find_elements_by_xpath('//div[@class="salary-values"]')
len(minimum_salary)

10

In [205]:
#we will run for loop to iterate over the tags and will extract text
msalary=[]

for i in minimum_salary[:10]:
    msalary.append(i.text.replace('\n','-'))
len(msalary)
msalary

['₹ 14.0L-₹ 32.0L',
 '₹ 12.0L-₹ 45.0L',
 '₹ 16.0L-₹ 30.0L',
 '₹ 7.0L-₹ 30.0L',
 '₹ 8.0L-₹ 41.5L',
 '₹ 12.0L-₹ 30.0L',
 '₹ 12.0L-₹ 25.0L',
 '₹ 12.0L-₹ 25.0L',
 '₹ 10.0L-₹ 32.0L',
 '₹ 11.2L-₹ 23.0L']

# Extracting experience required

In [206]:
#extract all web element having experience required
experience_required=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
len(experience_required)

10

In [210]:
#we will run for loop to iterate over the tags and will extract text
experience=[]

for i in experience_required[:10]:
    experience.append(i.text.replace('Software Engineer\n . \n',' '))
len(experience)
experience

[' 4 yrs exp',
 ' 1-4 yrs exp',
 ' 2 yrs exp',
 ' 1-4 yrs exp',
 ' 1-4 yrs exp',
 ' 1 yr exp',
 ' 1 yr exp',
 ' 2-3 yrs exp',
 ' 1-4 yrs exp',
 ' 3 yrs exp']

# Making Dataframe

In [214]:
salary=pd.DataFrame()
salary['Company Name(total salary record)']=cname
salary['Average Salary']=asalary
salary['Minimum salary-Maximum salary']=msalary
salary['Experience Required']=experience
salary

,Company Name(total salary record),Average Salary,Minimum salary-Maximum salary,Experience Required
0,"Tekion, based on 10 salaries",₹ 23.3L,₹ 14.0L-₹ 32.0L,4 yrs exp
1,"Microsoft Corporation, based on 224 salaries",₹ 22.4L,₹ 12.0L-₹ 45.0L,1-4 yrs exp
2,"Goldman Sachs, based on 11 salaries",₹ 21.9L,₹ 16.0L-₹ 30.0L,2 yrs exp
3,"Flipkart, based on 54 salaries",₹ 20.6L,₹ 7.0L-₹ 30.0L,1-4 yrs exp
4,"Amazon, based on 85 salaries",₹ 19.4L,₹ 8.0L-₹ 41.5L,1-4 yrs exp
5,"Arcesium, based on 37 salaries",₹ 18.5L,₹ 12.0L-₹ 30.0L,1 yr exp
6,"PayPal, based on 12 salaries",₹ 18.4L,₹ 12.0L-₹ 25.0L,1 yr exp
7,"Servicenow Software Development India, based o...",₹ 18.3L,₹ 12.0L-₹ 25.0L,2-3 yrs exp
8,"Walmart, based on 79 salaries",₹ 17.9L,₹ 10.0L-₹ 32.0L,1-4 yrs exp
9,"ServiceNow, based on 16 salaries",₹ 17.8L,₹ 11.2L-₹ 23.0L,3 yrs exp